@font-face {
	font-family: 'Inter';
	src:
      url('../fonts/inter/Inter-Regular.woff2') format('woff2')
      url('../fonts/inter/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Mulish';
	src: 
    url('../fonts/Mullish/Mulish-Regular.woff2') format('woff2')
    url('../fonts/Mullish/Mulish-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}