body {
    background-color: #F8FCFF;
    color: #25282B;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Montserrat", "Arial", sans-serif;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================================================== */

.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header-list {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 48px;
}

.header-logo {
    padding: 0 100px 0 16px;
}

/* ============================================================== */

.hero {
    background: url("../images/hero-bg.png") 10% 50% / cover no-repeat;
    color: #F8FCFF;
    padding: 120px;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 52px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 15px;
}

.hero-item {
    display: flex;
    gap: 18px;
    font-size: 24px;
    line-height: 150%;
    margin-top: 15px;
}

.hero-btn {
    display: flex;
    margin-top: 40px;
    width: 288px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: #1D6FB6;
    font-weight: 500;
    background: #D0DCE7;
}

/* ===================================================== */

.catalog {
    padding: 120px 0;
}

.catalog-inner {
    display: flex;
    justify-content: space-between;
}

.catalog-aside {
    width: 282px;
    height: 1170px;
    padding: 30px;
    border: 2px solid #D0DCE7;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog-item {
    color: #25282B;
    font-size: 16px;
    font-weight: 500;
}


.catalog-blocks {
    width: 792px;
}

.catalog-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    width: 384px;
    gap: 24px;
}

.m24-120 {
    margin: 24px 0 120px;
}

/* ======================== */

.catalog-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.article {
    width: 384px;
    height: 354px;
}

.catalog-under_img {
    border: 1px solid #D0DCE7;
    padding: 30px;
    text-align: center;
}

.catalog-btn {
    display: inline-block;
    border-radius: 100px;
    background: #D0DCE7;
    padding: 18px 30px;
    width: 289px;
    color: #1D6FB6;
    font-weight: 500;
}

.catalog-img-hit {
    background: url("../images/catalog-img.png");
    width: 384px;
    height: 238px;
    padding-top: 30px;
}

.catalog-hit {
    color: #1D6FB6;
    font-weight: 500;
    width: 130px;
    height: 56px;
    padding: 18px 30px;
    border-radius: 0px 100px 100px 0px;
    background: #F8FCFF;
}

/* ====================================== */

.footer-inner {
    display: flex;
    background: #788088;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F8FCFF;
}

.footer-inner img {
    height: 20px;
    width: 20px;
}
