:root {
	--akcentnyy: #ffa55c;
	--akcentnyy-2: #ceaad0;
	--fonovyy: #ffe0cb;
	--fonovyy-svetlyy: #fff9f4;
	--zagolovochnyy: #1f1711;
	--nabornyy: #312c27;
	--fioletovyy: #704174;
	--disabled: #e1d9e1;
	--inputy: #ac907a;
	--font-family: "Montserrat", sans-serif;
	--second-family: "Gabriola", sans-serif;
	--third-family: "Inspiration", sans-serif;
	--transition: all .4s;
	--border-radius: 20px;
}


body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	line-height: 1.5;
	background-color: var(--fonovyy-svetlyy);
	color: var(--nabornyy);
}

.body--opened-menu {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.title {
	font-family: var(--second-family);
	font-size: 74px;
	line-height: 0.82;
	color: var(--zagolovochnyy);
}

.button {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	width: 100%;
	text-align: center;
	border-radius: 60px;
	color: var(--nabornyy);
	background: var(--akcentnyy);
	padding: 18px;
	transition: 0.4s;
}

.button:hover {
	background: #ff9138;
}

.modal {
	position: fixed;
	inset: 0;
	background: #0000006e;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

/* .modal-active {
	display: flex;
	overflow: hidden;
} */
.modal__window {
	position: relative;
	background: var(--fonovyy-svetlyy);
	border-radius: 20px;
	padding: 0 60px 60px;
	max-width: 428px;
}

.modal__window img {
	margin: -65px 13px 15px;
}

.modal__cancel {
	position: absolute;
	cursor: pointer;
	top: 20px;
	right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
	transition: all .4s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
	stroke: #ac907a;
}

.modal__title {
	font-family: var(--second-family);
	font-size: 42px;
	line-height: .9;
	color: var(--zagolovochnyy);
	margin-bottom: 10px;
}

.modal__form {
	margin-top: 30px;
}

.modal__form-input {
	border: 1px solid var(--inputy);
	border-radius: 100px;
	padding: 18px 28px;
	height: 62px;
	width: 100%;
	color: var(--nabornyy);
	font-size: 16px;
	line-height: 1.5;
	transition: all .4s;
}

.modal__form-input::placeholder {
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 1.5;
	color: var(--inputy);
	transition: all .4s;
}

.modal__form-input:hover {
	border-color: var(--akcentnyy);
}

.modal__form-input:hover::placeholder {
	color: var(--akcentnyy);
}

.modal__form-input:focus {
	border-color: var(--akcentnyy);
	padding: 26px 28px 11px;
}

.modal__form-input:focus::placeholder {
	color: var(--inputy);
}

.modal__form-label {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.modal__form-label span {
	position: absolute;
	top: 12px;
	left: 28px;
	font-family: var(--font-family);
	font-size: 11px;
	line-height: 150%;
	color: var(--inputy);
	opacity: 0;
	visibility: hidden;
	transition: all .4s;
}

.modal__form-input:focus+span {
	opacity: 1;
	visibility: visible;
}


/* ======================================= */

.header {
	background: 50% 0 no-repeat url('../images/header-bg.png');
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-top: 19px;
}

.header__logo {
	margin-left: 30px;
	z-index: 10;
}

.header__logo img {
	height: 60px;
	max-width: 174px;
}

.header__list {
	display: flex;
	gap: 4vh 40px;
}

.header__link {
	position: relative;
	z-index: 2;
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.5;
	padding: 10px 0;
	color: var(--nabornyy);
}

.header__link::after {
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	transform: translate(-13px, -6px);
	content: '';
	height: 34px;
	width: 34px;
	background: var(--akcentnyy);
	border-radius: 50%;
	opacity: 0;
	transition: all 0.4s;
}

.header__link:hover::after {
	opacity: 1;
}

.header__hero {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 20px;
	padding-top: 50px;
	padding-bottom: 140px;
}

/* =========================== */

.hero__description {
	max-width: 519px;
	min-height: 100%;
}

.hero__subtitle {
	gap: 10px;
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.6;
	font-size: 16px;
	color: #b197b2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.hero__subtitle-item:not(:last-child):after {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	margin: 0 1px 3px 5px;
	background-color: #b197b2;
}

.hero__title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 74px;
	line-height: 0.82;
	color: var(--zagolovochnyy);
	margin-bottom: 30px;
}

.hero__button-inner {
	max-width: 70%;
}

.hero__text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--nabornyy);
	margin-bottom: 40px;
}

.hero__player {
	position: relative;
	margin-right: 12.5vw;
}

.hero__play {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 200px;
	bottom: 51px;
	right: -162px;
}

.hero__play-mobile {
	display: none;
}

.hero__play-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 50%;
	background: #ffe0cb;
	box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
	width: 78px;
	height: 78px;
	position: relative;
}

.hero__play-icon img {
	padding-left: 8.8%;
}

.hero__play-icon::before {
	content: '';
	position: absolute;
	inset: 5px;
	border-radius: 50%;
	border: 1px solid var(--akcentnyy);
	opacity: 0;
	transition: all .4s;
}

.hero__play-icon:hover::before {
	opacity: 1;
}

.burger-icon {
	display: none;
	width: 50px;
	height: 50px;
	z-index: 10;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 50px;
	background: var(--nabornyy);
	transition: all .4s;
}

.burger-icon span {
	position: relative;
}

.burger-icon span::before {
	content: '';
	position: absolute;
	top: -8px;
}

.burger-icon span::after {
	content: '';
	position: absolute;
	bottom: -8px;
}

.body--opened-menu .burger-icon span {
	background: transparent;
}

.body--opened-menu .burger-icon span::before {
	top: 0px;
	transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
	bottom: 0px;
	transform: rotate(-45deg);
}

/* =============================================== */


.about {
	padding: 140px 0;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1.05fr;
	grid-template-rows: repeat(2, auto);
	gap: 40px 53px;
}

.about__img {
	border-radius: var(--border-radius);
	overflow: hidden;
	position: relative;
	grid-row: 1/-1;
}

.about__img>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 50%;
}

.about__img-conrol {
	position: absolute;
	bottom: 4.7%;
	left: 5%;
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 300px;
	text-align: left;
	background: #957b97e6;
	border-radius: var(--border-radius);
	padding: 15px 20px;
	color: var(--fonovyy-svetlyy);
}

.about__img-button {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: var(--fonovyy-svetlyy);
	position: relative;
}

.about__img-button::before {
	content: '';
	position: absolute;
	inset: 5px;
	border-radius: 50%;
	border: 1px solid #CEAAD0;

	opacity: 0;
	transition: var(--transition);
}

.about__img-button:hover::before {
	opacity: 1;
}

.about__heading {
	margin-bottom: 30px;
}

.title {
	font-family: var(--second-family);
	font-size: 74px;
	line-height: 0.82;
	color: var(--zagolovochnyy);
}

.about__grid {
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
	background: var(--fonovyy);
	border-radius: var(--border-radius);
	padding: 29px 24px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.about__grid-img {
	border: 1px solid var(--font-family);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ================================================================ */
.program {
	padding-bottom: 140px;
}
.program__top {
	
}
.program__flex {
	display: flex;
	align-items: end;
	justify-content: space-between;
}
.program__heading {
}
.program__title {
	display: block;
	margin-bottom: 20px;
}
.title {
}
.program__text {
}
.tab-controls {
	display: flex;
	gap: 26px;
}
.tab-controls__item {
}
.tab-controls__link {
	display: block;
	padding: 14px 30px;
	border-radius: 100px;
	box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
	transition: var(--transition);
	white-space: nowrap;
}
.tab-controls__link:hover {
	box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
	background: var(--fonovyy);
}
.tab-controls__link--active {
	box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
	background: var(--fonovyy);
}


.program__tab-content {
}
.tab-content {
	display: none;
	margin-top: 60px;
}
.tab-content--show {
	display: block;
}
.accordion-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}
.accordion-list__item {
	border-radius: 20px;
	border: 1px solid var(--akcentnyy);
	overflow: hidden;
}
.accordion-list__item--opened {

}
.accordion-list__control {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	text-align: start;
	background: transparent;
	gap: 15px;
	width: 100%;
	padding: 39px 30px;
	transition: var(--transition);
}
.accordion-list__item--opened .accordion-list__control{
	padding-bottom: 20px;
}
.accordion-list__control-title {
	font-family: var(--second-family);
	font-size: 42px;
	line-height: 90%;
	color: var(--zagolovochnyy);
}
.accordion-list__control-icon {
	width: 36px;
	height: 36px;
	border: 1.5px solid var(--akcentnyy);
	border-radius: 50%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
}

.accordion-list__control-icon svg {
	margin-left: 2px;
}

.accordion-list__control-icon path {
	transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
	transform: rotate(90deg);
	background: var(--akcentnyy);
}

.accordion-list__control:hover .accordion-list__control-icon path {
	fill: var(--fonovyy-svetlyy);
}

.accordion-list__item--opened .accordion-list__control-icon {
	transform: rotate(90deg);
	background: var(--akcentnyy);
}

.accordion-list__item--opened .accordion-list__control-icon path {
	fill: var(--fonovyy-svetlyy);
}

.accordion-list__content {
	max-height: 0;
	overflow: hidden;
	transition: var(--transition);
}
.accordion-content {
	display: flex;
	gap: 80px;
	padding: 0 30px 40px;
}
.accordion-content__col {
	max-width: 507px;
	width: 100%;
}
.accordion-content__title {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--akcentnyy-2);
}
.accordion-content__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.accordion-content__item {
	display: flex;
	gap: 8px;
}
.accordion-content__icon {
}
.accordion-content__text {
	max-width: 274px;
}

.program__bottom {
	margin-top: 40px;
}
.program__action {
	display: grid;
	grid-template-columns: 1.65fr 1fr;
	max-width: 501px;
	max-height: 334px;
	gap: 40px;
	flex-shrink: 0;
}
.program__discount {
	max-height: 232px;
	border-radius: 20px;
	background: var(--fonovyy);
	grid-row: 1 / 3;
	padding: 40px 81px 40px 40px;
	font-family: var(--font-family);
	font-size: 20px;
	line-height: 1.5;
	color: var(--nabornyy);
}
.program__discount span {
	display: block;
	font-size: 16px;
	margin-top: 7px;
	text-align: end;
}
.program__discount-value {
	font-family: var(--second-family);
	font-size: 74px;
	line-height: .82;
	text-align: center;
	animation: infinite .9s alternate price;
	transform-origin: 0 0;
	margin-left: 13%;
}
@keyframes price {
	from {
		color: var(--akcentnyy);
	}
	to {
		transform: translateX(3%) scale(1.1);
		color: #ff9138;
	}
}

.program__price {
}
.program__price-text {
	font-family: var(--font-family);
	line-height: 1.6;
	text-transform: uppercase;
	color: var(--akcentnyy-2);
}
.program__price-value {
	font-family: var(--second-family);
	font-size: 32px;
	line-height: .9;
	color: var(--nabornyy);
}
.program__price-value--big {
	font-size: 50px;
	line-height: .9;
	color: var(--zagolovochnyy);
}
.program__button {
	grid-column: 1 / -1;
}
.program__bottom {
	display: flex;
	justify-content: space-between;
}
.program__action {
}
.program__discount {
}
.program__discount-value {
}
.program__price {
}
.program__price-text {
}
.program__price-value {
}
.program__price-value--big {
}
.program__button {
}
.program__img {
	display: flex;
  align-items: center;
}
.program__img img {
	width: 100%;
}


/* =============================================== */

.footer {
	background: #ab8261;
	color: var(--fonovyy-svetlyy);
}

.footer__inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr) auto;
	gap: 15px;
	padding: 30px 0 60px;
}

.footer__col:not(:first-child) {
	padding-top: 30px;
}

.footer__col:last-child {
	margin-left: 60px;
}

.footer__col-item {
	margin-bottom: 20px;
}

.footer__col-link {
	display: block;
	position: relative;
	z-index: 2;
}

.footer__col-link::after {
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	transform: translate(-13px, -13px);
	content: '';
	height: 34px;
	width: 34px;
	background: var(--akcentnyy);
	border-radius: 50%;
	opacity: 0;
	transition: all 0.4s;
}

.footer__col-link:hover::after {
	opacity: 1;
}

.footer__contact-item {
	display: flex;
	margin-bottom: 10px;
}

.footer__contact-icon {
	display: inline-block;
	height: 24px;
	margin-right: 8px;
}

.footer__contact-link {
	display: inline-block;
}

.footer__logo-text {
	margin-bottom: 20px;
}

.socials__list {
	display: flex;
	gap: 15px;
	line-height: 0;
}

.socials__link path {
	transition: all .4s;
}

.socials__link:hover path {
	fill: var(--akcentnyy);
}

.footer__col-tel a {
	display: block;
	font-weight: 500;
	font-size: 24px;
	line-height: 160%;
	text-transform: uppercase;
	transition: all .4s;
}

.footer__col-tel a:hover {
	color: var(--akcentnyy);
}

.footer__col-copy {
	color: #dec5b1;
	margin-top: 47px;
}


/* ================================== */


@media (max-width: 1200px) {
	.header__hero {
		align-items: center;
	}

	.hero__play {
		position: static;
		width: 100%;
		margin: 20px auto 0 auto;

	}

	.hero__player {
		margin-right: 0;
	}

	.hero__player>img {
		width: 100%;
	}
/* =================================== */

	.program__flex {
		flex-direction: column;
		align-items: stretch;
		gap: 2vw;
	}

/* =================================== */

	.footer__inner {
		grid-template-columns: repeat(3, 1fr);
	}

	.footer__col:last-child {
		margin-left: 0;
		grid-column: 1 / -1;
		justify-self: center;
	}
}

@media (max-width: 1100px) {
	.about__img {
		grid-row: auto;
	}

	.about {
		align-self: center;
	}

	.about__grid {
		grid-column: 1/-1;
	}
}

@media (max-width: 900px) {
	.header__nav {
		position: fixed;
		inset: 0;
		z-index: 5;
		background: var(--fonovyy-svetlyy);
		padding: 26vh 15px 30px;
		font-size: 24px;
		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all .4s;
	}
	.header__list {
		align-items: center;
		flex-direction: column;
	}
	.body--opened-menu .header__nav {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	.burger-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* ======================================= */

	.tab-controls {
		flex-wrap: wrap;
	}
	.accordion-content {
		padding: 0 15px 20px;
		gap: 30px;
	}
	.accordion-list__control {
		padding: 20px 15px;
	}
	.accordion-list__control-title {
		font-size: 28px;
	}
	.accordion-list__control-icon {
		width: 30px;
		height: 30px;
	}
	.program__img {
		display: none;
	}
	.program__action {
		max-width: none;
		width: 100%;
		grid-template-columns: minmax(287px, 1fr) 1fr;
	}
	
	/* ======================================= */

	.footer__inner {
		grid-template-columns: none;
		justify-content: center;
		text-align: center;
		gap: 0;
	}
	.footer__contact-item {
		justify-content: center;
	}
	.footer__col:last-child {
		padding: 0;
	}
	.socials__list {
		justify-content: center;
	}
}

@media (max-width: 800px) {
	.header__hero {
		flex-direction: column;
		text-align: center;
	}

	.hero__player {
		display: none;
	}

	.hero__play-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		gap: 10px;
		margin-bottom: 20px;
	}

	.hero__button-inner {
		text-align: center;
		max-width: 90%;
		margin: 0 auto;
	}

	.about__inner {
		grid-template: none;
	}

	.about__img {
		max-width: 500px;
		justify-self: center;
	}

	.about__body {
		text-align: center;
	}

	.about__grid {
		grid-template: none;
	}

	.program__title {
		text-align: center;
	}
	.program__text {
		text-align: center;
	}
	.tab-controls {
		justify-content: center;
	}
}

@media (max-width: 600px) {
	.header__hero {
		padding-bottom: 80px;
	}

	.hero__title {
		font-size: 12vw;
	}

	.about__title {
		font-size: 12vw;
	}

	.about__img-conrol {
		bottom: 0;
		left: 0;
		right: 0;
		max-width: none;
		border-radius: 0;
		padding: 10px 15px;
	}

	.about__grid {
		gap: 15px;
	}

	.about__grid-item {
		padding: 10px 15px;
	}

	/* ======================================= */

	.tab-content {
		margin-top: 30px;
	}
	.accordion-content {
		flex-direction: column;
	}
	.accordion-list__control-icon {
		width: 28px;
		height: 28px;
	}
	.accordion-content__title {
		margin-bottom: 15px;
	}
	.accordion-content__text {
		max-width: none;
	}
	.accordion-content__list {
		gap: 15px;
	}
	.program__flex {
		gap: 5vw;
	}
	.program__title {
		font-size: 12vw;
	}
	.program__action {
		max-height: none;
		grid-template-columns: auto auto;
		gap: 30px;
		text-align: center;
	}
	.program__discount {
		grid-column: 1 / -1;
		text-align: start;
	}
}

@media (max-width: 450px) {
	.tab-controls {
		gap: 4vw;
	}
	.tab-controls__link {
		padding: 10px 24px;
	}
	.accordion-list__control {
		padding: 15px 15px;
	}
	.program__action {
		display: flex;
		flex-direction: column;
	}
	/* ======================================= */

	.modal__img {
		width: 50%;
		margin-top: -35px;
	}
	.modal__title {
		font-size: 35px;
	}
	.modal__window {
		padding: 0 15px 45px;
	}
	.modal {
		padding: 15px;
	}
}